<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="FoxTechInnovation"
             value="https://pkgs.dev.azure.com/FoxTechInnovation/_packaging/FoxTechInnovation/nuget/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <FoxTechInnovation>
            <add key="Username" value="mikaelkhalil7.mk" />
            <add key="ClearTextPassword" value="kc767synj6apqly46uwhwyaidnys5rcvzdia6fep4nxc572tcmua" />
        </FoxTechInnovation>
    </packageSourceCredentials>
</configuration>